.box {
  padding: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex: 1;
  /* flex-wrap: wrap; */
}

.banner {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

@media screen and (max-width: 990px) {
  .row {
    flex-direction: column;
    transition-delay: 2s;
    /* justify-content: center; */
  }
  .banner {
    height: 200px;
    width: 200px;
    transition: width 2s, height 2s;
  }
}
