.box {
  padding: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex: 1;
  /* flex-wrap: wrap; */
}

@media screen and (max-width: 990px) {
  .row {
    flex-direction: column;
  }
}
